body{
  font-family: "Signika Negative", sans-serif;
}

.navBarStyle{
  background-color: black;
  height: 110px;
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  border-bottom: 3px solid rgb(174, 255, 0);
}

.liNavStyle{
  margin-left: 200px;
}


.navBarText{
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  padding-left: 70px;
}

.navBarText:hover{
  color:   rgb(174, 255, 0);
}

.navBarText:active{
  color:  black;
}

.listStyle{
  background-color: black;
  margin-left: 70px;
}

.textListStyle{
  color: white;
}

.textListStyle:hover{
  background-color:  #aeff00;
}

.dividerStyle{
  background-color: #aeff00;
}

.btnNavBar{
  color: black;
  background-color: #aeff00;
}

.deployList{
  background-color: black;
  color: white;
  z-index: 1;
}

.cartStyle{
  background-color: white;
}

.cartStyle:hover{
  background-color:  #aeff00;
}

.detailPrice{
  font-size: 1.3rem;
}

.banner1{
  width: 100%;
  height: auto;
}

.loadingStyle{
  margin-top: 20%;
}